<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        AIRBOOK admin
                    </a>
                </li>
                <li>
                    <%= link_to 'Dashboard', admin_path%>
                </li>
                <li>
                    <%= link_to 'Users', users_path%>
                </li>
                <li>
                    <%= link_to 'Books', bookss_path%>
                </li>
                <li>
                    <%= link_to 'Orders', orders_path%>
                </li>
                <li>
                    <%= link_to 'Reviews', reviews_path%>
                </li>
                <li>
                    <%= link_to 'View page', root_path%>
                </li>
                <li>
                    <%= link_to "Log out", logout_path, method: :delete%>
                </li>
            </ul>
        </div>